body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #C32148; /* Subtle light green color */
  color: #FFFFFF;
  animation: fadeIn 1s ease-in-out;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  opacity: 0;
  animation: logoFadeIn 1s forwards 0.5s;
}

.title {
  opacity: 0;
  animation: titleFadeIn 1s forwards 1s;
  color: #ADC3A2; /*#FF8C00*/
}

.subtitle {
  opacity: 0;
  animation: subtitleFadeIn 1s forwards 1.5s;
  color: #ADC3A2 !important;
  font-weight: bolds;
}

.nav {
  opacity: 0;
  animation: navFadeIn 1s forwards 2s;
  border-radius: 50px !important;
 
}
.nav-btn{
  background-color: #A01A3B !important;
  border:0px !important;
  
}
.delivery{
  border-radius: 0 50px 50px 0 !important;
}
.home{
  border-radius:50px 0 0 50px !important ;
}

.nav-link {
  background-color: #D97B61 !important;
  color: white !important;
  border: none !important;
  padding: 10px 20px !important;
  border-radius: 25px!important;
  cursor: pointer !important;
  font-size: 1rem !important;
  transition: background-color 0.3s ease, color 0.3s ease!important;
}

.nav-link:hover {
  background-color: #D4EDDA !important; /* Slightly darker shade of green */
  color: #FFDAB9 !important;
}

.message {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  color: #333;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes logoFadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes titleFadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes subtitleFadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes navFadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}
